* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}


/* ===========
==== FORM
=========== */

.form-banner {
    width: 100%;
    position: relative;
    display: flex;
}

.form-banner img {
    height: auto;
    width: 100%;
}

.login-container {
    display: flex;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    /* Adjust the background color and opacity as needed */
    border-top: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}


/* =============
====== laoder 
=============== */

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* ======================
--------- navbar 
=================== */

.navbar {
    background-color: black !important;
    color: white !important;
}

.nav-link,
.navbar-brand {
    background-color: black !important;
    color: white !important;
}